@font-face {
    src: url("fonts/NotoSansKR-Light.otf");
    font-family: "maple";
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    overflow-x: hidden;
}

div {
    font-family: "maple";
}

a {
    font-family: "maple";
    font-size: 48px;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    place-items: center;
}

article {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #1f4974;
    border-bottom-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
    color: #fff;
    height: 8vh;
    z-index: 50;
}

nav ul {
    text-align: center;
    width: 80vw;
    background-color: aqua;
    list-style: none;
    padding-left: 0px;
    margin-top:0%;
}

nav li a {
    color: black;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

nav li a:hover {
    background-color: #2c3e50;
}

.menuBtn {
    display: block;
    cursor: pointer;
}

footer {
    position: fixed;
    width: 100vw;
    top: 92vh;
    justify-content: center;
    background-color: #1f4974;
    border-top-left-radius: 4vh;
    border-top-right-radius: 4vh;
    color: #fff;
    height: 8vh;
    z-index: 50;
}

h2 {
    text-align: center;
    font-size: 3vh;
}

h3 {
    text-align: center;
    font-size: 2vh;
}

.index-problem {
    display: flex;
    justify-content: space-between;
    font-size: 2vh;
}

.index-contents {
    height: 70vh;
    display: grid;
    align-items: center;
    place-items: center;
    font-size: 2vh;
}

#problem {
    font-size: 40px;
    margin-bottom: 4px;
    width: 90vw;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#solve {
    font-size: 40px;
    margin-bottom: 4px;
    width: 90%;
    font-weight: bold;
    text-align: center;
}

#problem-container-5 {
    width: 100%;
    display: grid;
    place-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

#index-container {
    width: 100%;
    place-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


#problem-container-submit {
    width: 100%;
    display: grid;
    place-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

#story {
    font-size: 5vw;
    width: 90vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-align: center;
    display: grid;
    place-items: center;
    align-items: center;
    height: 20vh;
    color: rgb(29, 8, 8);
}

#sentence {
    font-size: 4vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: grid;
    place-items: center;
    align-items: center;
    width: 90vw;
    font-style: italic;
    height: 20vh;
}

#title {
    font-size: 12vw;
    font-weight: bold;
    text-align: center;
    display: grid;
    place-items: center;
    align-items: center;
    height: 20vh;
}

#picture {
    height: 100%;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    /* 숨기기 */
    z-index: -2;
    opacity: 0;
}

.window {
    position: relative;
    width: 100%;
    height: 100%;
}

.show {
    opacity: 1;
    z-index: 1000;
    transition: all 0.5s;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

    /* 임시 지정 */
    width: 80%;
    height: 60%;

    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
}

.show .popup {
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.background {
    text-align: center;
    position: relative;
    width: 100vw;
    z-index: 2;
}

.background::after {
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.5;
    z-index: -1;
    top: 0;
    left: 0;
}

.top-btn {
    all: unset;
    position: fixed;
    width: 50px;
    height: 50px;
    right: 50px;
    bottom: 50px;
    padding: 0;
    margin: 0;
    background-image: url("./images/arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 5000;
    transform: scale(1.8);
    opacity: 0;
    transition: .3s;
}

.question {
    position: fixed;
    top: 8vh;
    right: 12vw;
    padding: 0;
    margin: 0;
    z-index: 5000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration-line: none;
    font-size: 2vh;
}


.home {
    position: fixed;
    top: 8vh;
    left: 12vw;
    padding: 0;
    margin: 0;
    z-index: 5000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration-line: none;
    font-size: 2vh;
}

.btn {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration-line: none;
    font-size: 3vh;
}

.roundbtn {
    width: 80vw;
    height: 6vh;

    background-color: #346391;
    display: grid;
    place-items: center;
    align-items: center;
    border-top-right-radius: 4vh;
    border-bottom-left-radius: 4vh;
    z-index: 40;
}