@font-face {
    src: url("../fonts/NotoSansKR-Light.otf");
    font-family: "noto";
    font-style: normal;
}


.story {
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: justify;
    font-size: 20px;
    font-family: 'noto';
    word-break: keep-all;
    text-indent: 2vw;
}

.line {
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
    font-size: 24px;
    font-family: 'noto';
    font-style: italic; 
    word-break: keep-all;
}

.problem {
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
    font-size: 28px;
    font-family: 'noto';
    word-break: keep-all;
}

.quiz {
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
    font-size: 64px;
    font-family: 'noto';
    font-weight:bold; 
    word-break: keep-all;
}

.submitbtn {
    width: 40vw;
    height: 10vh;
    font-size: 36px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.submitbtn {
    font-family: 'noto';
    text-align: center;
    color: rgb(0, 0, 0); 
    font-weight:bold; 
    text-decoration-line: none;
}

img {
    margin: auto;
    display: block;
}