@font-face {
    src: url("fonts/Maplestory_Light.ttf");
    font-family: "maple";
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    overflow-x: hidden;
}

div {
    font-family: "maple";
}

link {
    font-family: "maple";
}

.container {
    height: 100%;
    display: grid;
    align-items: center;
}

#problem {
    font-size: 18px;
}

#title {
    font-size: 30px;
    font-weight: bold;
}

footer {
    font-size: 18px;
    font-family: "maple";
}

#maze {
    height: 100%;
}

#reference{
    font-size: 8px;
    font-family: "maple";
}

.background {
    text-align: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.background::after {
    background: url("./images/paperboard-texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.5;
    z-index: -1;
    top: 0;
    left: 0;
}


/*미디어 뭐리!!!!!!!!!!*/
@media (max-width:600px) {

    /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
    .background {
        text-align: center;
        position: relative;
        width: 100vw;
        height: 100vh;
        z-index: 1;
    }

    .background::after {
        background: url("./images/maze.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        opacity: 0.5;
        z-index: -1;
        top: 0;
        left: 0;
    }
}